/* ------------------------------------

Table of Content
0 - Basic
1 - General
2 - Login/Register/Forget Password Form

*/


/* 0. Basic */




/* 1. General */

body{
    margin: 0 auto;
    background-image: url("../Image/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}


/* 2. Login */
#Container{
    height: 350px;
    width:500px;
    text-align: center;
    background-color: rgba(234, 150, 34,0.5);
    border-radius: 4px;
    margin:0 auto;
    margin-top: 150px;
}

.error-box {
  background-color: rgba(255, 0, 0, 0.4);
  border:1px solid rgba(0, 0, 0, 0.4);
}


input[type="email"]{
    display:inline-block;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #fff;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(234, 150, 34,0);
    padding-left: 20px;
    background: url(../Icon/icon/icon-01.png) no-repeat;
    background-size: 10%;
    background-position: right;
}

input[type="password"]{
    display:inline-block;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(234, 150, 34,0);
    padding-left: 20px;
    background: url(../Icon/icon/icon-02.png) no-repeat;
    background-size: 10%;
    background-position: right;
}

input[type="username"]{
    display:inline-block;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(234, 150, 34,0);
    padding-left: 20px;
    background: url(../Icon/icon/icon-05.png) no-repeat;
    background-size: 10%;
    background-position: right;
}

input[type="fullname"]{
    display:inline-block;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(234, 150, 34,0);
    padding-left: 20px;
    background: url(../Icon/icon/icon-05.png) no-repeat;
    background-size: 10%;
    background-position: right;
}

input.submitbtn{
    height:45px;
    width:20px;
    background: url(../Icon/icon/icon-03.png) no-repeat;
    background-size: 100%;
    background-position: right;
    border:none;
    cursor: pointer;
    vertical-align: top;
}






















