/* ------------------------------------

Table of Content
0 - Basic
1 - General
2 - Login

*/


/* 1. General */

body{
    margin: 0 auto;
    background-image: url("../Image/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}


/* 2. Login */
.container{
    width:500px;
    height: 400px;
    text-align: center;
    background-color: rgba(234, 150, 34,0.5);
    border-radius: 4px;
    margin:0 auto;
    margin-top: 150px;
}

input[type="email"], input[type="password"]{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(234, 150, 34,0);
    padding-left: 40px;
}

.form-input::before{
    content: "\f0e0";
    position:absolute;
    font-family: "FontAwesome";
    font-size: 30px;
    color:#fff;
    padding-left: 5px;
    padding-top: 8px;
}

.form-input:nth-child(2)::before{
   content:" \f023";
   padding-left: 8px;
}




